
<div class="container-fluid">
  <div class="col-md-12"><h1>Sensor statuses</h1>
    <p><input type="checkbox" ng-model="downonly">Check to show sensor down only.</p>
    <div class="alert alert-warning alert-dismissible" ng-show="error" role="alert">
    {{error}}
  </div>
    <table class="table table-hover" us-spinner spinner-key="mainspinner">
      <thead>
      <tr><td ng-class="{'active': ordering==title.value}" data-ng-repeat="title in header"><a href="#" ng-click="setOrdering(title.value)">
        {{title.text}}</a>
      </td>
      </tr>
      </thead>
      <tbody>
      <tr ng-class="{'danger': state.down,'success': !state.down, }"
          ng-hide="downonly && !state.down"
          ng-repeat="state in states | orderBy: ordering"
          >
        <td><strong>{{state.name}}</strong> </td><td>
      {{state.observedPropetyName}}</td></tr>
      </tbody>
    </table></div>
</div>
